.center{
	font-size:40px;
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:30%;
}
h1{
	text-decoration:underline;
}
ul{
	background-color:#333;
	list-style-type:none; /*this removes the bullets from the list*/
	margin:0;
	padding:20px;
	}
li{
	display:inline; /*default display is block elements, display:inline removes line breaks before and after the list items, displaying them on a single line*/
}
li a{
	color:white;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
}
li a:hover{
	background-color:#111;
}

